<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Books page</title>
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<link href="../css/styles.css" rel="stylesheet" />
<script
	src="https://cdn.jsdelivr.net/gh/ashnamuh/rm-facebook-passport-redirect-hash@v1.0.0/lib.js"></script>
</head>
<body>
	<div th:insert="header :: header"></div>
	<div class="container">
		<div class="card-all">
			<div class="card-header">
				<h3>All Books:</h3>
			</div>
			<div id="wrapper">
				<div th:each="book : ${dto}" class="userblock wrapper row">
					<div>
						<img th:src="@{${book.bookDetails.image}}"
							th:alt="${book.bookDetails.title}" alt="" class="book-image" />
					</div>
					<div class="col-md-6">
						<h4>
							<a th:href="@{'/books/' + ${book.id}}"> <span
								th:text="${book.bookDetails.title}"> </span>
							</a>
						</h4>
						<h5 class="book-title" th:text="${book.bookDetails.author}"></h5>
						<h6 class="inline">Quantity:</h6>
						<h6 class="inline" th:text="${book.quantity}"></h6>
					</div>

					<p class="book-description-min"
						th:text="${book.bookDetails.description}"></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>