<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Delete user?</title>
<link rel="stylesheet" href="../../../css/bootstrap.min.css" />
<link href="../../../css/styles.css" rel="stylesheet" />

</head>
<body>
	<div class="d-flex justify-content-center h-100">
		<div class="card-chs">
			<div
				class="card-header d-flex justify-content-center align-items-center">
				<h3>Delete user?</h3>
			</div>
			<div
				class="card-body d-flex justify-content-center align-items-center">
				<br />
				<div class="form-row form-group">
							<div class="col-md-6">
				<form method="post">
					<button class="btn login_btn" type="submit">Delete user</button>
					</form>
					</div>
					<div class="col-md-6">
					<input type="button" class="btn login_btn"
						onclick="history.back();" value="Cancel" />
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>