<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>SENLA Library - Home</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link href="../css/styles.css" rel="stylesheet" />
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light">
			<form class="form-inline active-blue" id="search-main">
				<input class="form-control form-control-sm" type="text"
					placeholder="Book search">
			</form>
			<div class="container">
				<div class="navbar-collapse offset">
					<ul class="nav align-items-center  ml-md-auto">
						<li class="nav-item active"><a class="nav-link" href="/books/">All
								books</a></li>
						<li class="nav-item"><a class="nav-link" href="/books/add">Add
								book</a></li>
						<li class="nav-item"><a class="nav-link" href="/users/">All
								users</a> <li class="nav-item">
						<span class="avatar" sec:authorize="isAuthenticated()"> 
						<span th:if="${dto.hasLogo}">
						<img th:src="@{'../images/' + ${dto.login} + '.png'}"
							th:alt="${dto.login}" alt=""/>
					</span>
					<span th:unless="${dto.hasLogo}">
						<img th:src="@{../images/defaultuser.png}" th:alt="${dto.login}"
							alt=""/>
					</span>
						</span><li class="nav-item"  sec:authorize="isAuthenticated()"><a class="nav-link font-weight-bold"
							th:href="@{'/users/' + ${dto.id}}"> <span
								th:text="${dto.login}"> </span>
						</a>
						<li class="nav-item"  sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a>
						<li class="nav-item"  sec:authorize="!isAuthenticated()"><a class="nav-link" href="/books/">Login</a>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>