<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>SENLA Library - Home</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link href="../css/styles.css" rel="stylesheet" />
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container_home">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="navbar-collapse offset">
				<ul class="nav align-items-center  ml-md-auto">
					<li class="nav-item"><a class="nav-link" href="/books/add">Add
							book</a></li>
					<li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="nav-item"><a
						class="nav-link" href="/admin/adddepartment">Add department</a></li>
					<li class="nav-item active"><a class="nav-link" href="/books/">All
							books</a></li>
					<li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="nav-item"><a
						class="nav-link" href="/admin/histories">All histories</a></li>
					<li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="nav-item"><a
						class="nav-link" href="/admin/users/">All users</a>
					<li class="nav-item"><span class="avatar"
						sec:authorize="isAuthenticated()"> <span
							th:if="${dto.hasLogo}"> <img
								th:src="@{'../images/' + ${dto.email} + '.png'}"
								th:alt="${dto.email}" alt="" />
						</span> <span th:unless="${dto.hasLogo}"> <img
								th:src="@{../images/defaultuser.png}" th:alt="${dto.email}"
								alt="" />
						</span>
					</span>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link font-weight-bold"
						th:href="@{'/users/user'}"> <span
							th:text="${dto.firstName}"> </span>
					</a>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link" href="/logout">Logout</a>
					<li class="nav-item" sec:authorize="!isAuthenticated()"><a
						class="nav-link" href="/books/">Login</a>
				</ul>
			</div>
		</nav>
		<form th:action="@{search}" method="post"
			class="form-inline d-flex justify-content-center active-cyan h-50">
			<input class="form-control w-50" type="text" name="query"
				placeholder="Search books by title">
		</form>
	</div>
	<div th:insert="footer :: footer"></div>
</body>
</html>